footer#copyright {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    color: #777777;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #000000
}
